<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exampleUsage</key>
	<string>/searchName={searchName}&amp;number={number} =&gt; /searchName=test&amp;number=10</string>
	<key>candidates</key>
	<string>/candidates</string>
	<key>votes</key>
	<string>/votes</string>
	<key>votesByState</key>
	<string>/votes/{state}</string>
	<key>votesByCandidate</key>
	<string>/vote/candidate</string>
</dict>
</plist>
